<div class="container position-static">
  <br />
  <br />
  
  <div class="d-flex justify-content-center">
  <img src="/assets/logo/logo_small_icon_only.png" alt="" [routerLink]="['/login']" style="height: 256px;width: 256px;cursor: pointer;" >
  </div>
<div class="card mx-auto" style="width: 40rem">
  <div class="card-body">
<form>
    <div class="mb-3">
      <label for="exampleInpupassword1" class="form-label">New Password</label>
      <input type="password" class="form-control" id="pass1"  [(ngModel)]="pass1" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
      <label for="exampleInputpassword2" class="form-label" >Repeat Password</label>
      <input type="password" class="form-control" id="pass2"  [(ngModel)]="pass2" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary" (click)="password()">Submit</button>
  </form>
</div>
</div>
</div>