<div class="container">
  <br />
  <div class="d-flex justify-content-between">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#my" type="button" role="tab"
          aria-controls="home" aria-selected="true">
          Mis Tickets
        </button>
      </li>
      <li class="nav-item" role="presentation" *ngIf="tech">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#open" type="button" role="tab"
          aria-controls="profile" aria-selected="false">
          <span class="badge bg-primary">{{ inciO }}</span>
          Abiertos
        </button>
      </li>
      <li class="nav-item" role="presentation" *ngIf="tech">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#inp" type="button" role="tab"
          aria-controls="contact" aria-selected="false">
          En progreso/espera
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#closed" type="button" role="tab"
          aria-controls="contact" aria-selected="false">
          Cerrados
        </button>
      </li>
    </ul>
    <!-- Modal Trigger -->
    <ul class="nav nav-pills">
      <li class="nav-item" role="presentation">
        <button class="nav-item btn btn-outline-primary" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
          type="button" role="tab" aria-controls="contact" aria-selected="false" data-bs-toggle="modal"
          data-bs-target="#Modal" style="cursor: pointer">
          <i class="bi bi-plus-square"> </i>
          Nuevo Ticket
        </button>
      </li>
    </ul>
  </div>
  <br />

  <div class="tab-content" id="myTabContent">
    <!-- Incidencies Propies -->
    <div class="tab-pane fade show active" id="my" role="tabpanel" aria-labelledby="home-tab">
      <table class="table table-hover table-sm">
        <thead class="table-light">
          <tr>
            <th scope="col" *ngIf="tech">Id</th>
            <th scope="col" *ngIf="tech">Usuario</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha/Hora</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Estado</th>
            <th scope="col" *ngIf="!tech">Tecnico</th>
            <th scope="col" *ngIf="!tech"></th>
            <th scope="col" *ngIf="tech"></th>
            <th scope="col" *ngIf="tech"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of incidencies; let id=index">
            <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;" *ngIf="tech">{{ id+1 }}</td>
            <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;" *ngIf="tech">{{ i.Nom }}</td>
            <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.titol }}</td>
            <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.Fecha | date: 'short' }}</td>
            <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.prioritat }}</td>
            <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.estat }}</td>
            <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;" *ngIf="!tech">{{ i.Nom }}</td>
            <td *ngIf="!tech">
              <i class="bi bi-x-square" style="color: firebrick; cursor: pointer" (click)="resoldre(i.id, 5)"></i>
            </td>
            <td *ngIf="tech">
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Resolver">

                <i class="bi bi-check2-square" style="color: darkorange; cursor: pointer"
                  (click)="resoldre(i.id, 4)"></i>
              </span>
            </td>
            <td *ngIf="tech">
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="mas opciones">
                <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="cursor: pointer"
                  (click)="editarinci(i.id)">
                </i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Incidencies Obertes -->
    <div class="tab-pane fade" id="open" role="tabpanel" aria-labelledby="profile-tab">
      <table class="table table-hover table-sm">
        <thead class="table-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha/Hora</th>
            <th scope="col">Prioridad</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of incidenciesO | slice: (page-1) * pageSize : page * pageSize">
            <ng-container *ngIf="i.eid == 1">
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.id }}</td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.Nom }}</td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.titol }}</td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">
                {{ i.Fecha | date: 'short' }}
              </td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.prioritat }}</td>
              <td>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Autoasignar">
                  <i class="bi bi-plus-circle" style="color: rgb(0, 89, 255); cursor: pointer"
                    (click)="assignar(i.id, i.prioritat)"></i>
                </span>
              </td>
              <td>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Autoasignar">
                  <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="cursor: pointer"
                    (click)="editarinci(i.id)">
                  </i>
                </span>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="incidenciesO.length"></ngb-pagination>
    </div>
    <!--Incidencies in progress-->
    <div class="tab-pane fade" id="inp" role="tabpanel" aria-labelledby="profile-tab">
      <table class="table table-hover table-sm">
        <thead class="table-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha/Hora</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of incidenciesO;let id=index">
            <ng-container *ngIf="i.eid == 2 || i.eid == 3">
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ id+1 }}</td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.Nom }}</td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.titol }}</td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">
                {{ i.Fecha | date: 'short' }}
              </td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.prioritat }}</td>
              <td [routerLink]="['/detall/' + i.id]" style="cursor:pointer;">{{ i.estat }}</td>
              <td>
                <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="cursor: pointer"
                  (click)="editarinci(i.id)">
                </i>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Incidencies Tancades -->
    <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="contact-tab">
      <table class="table table-hover table-sm">
        <thead class="table-light">
          <tr>
            <th scope="col" *ngIf="tech">Id</th>
            <th scope="col" *ngIf="tech">Usuario</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha/Hora</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Estado</th>
            <th scope="col" *ngIf="!tech">Tecnic</th>
            <th scope="col" *ngIf="!tech"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of incidenciesT;let id=index">
            <td *ngIf="tech">{{ id+1 }}</td>
            <td *ngIf="tech">{{ i.Nom }}</td>
            <td>{{ i.titol }}</td>
            <td>{{ i.Fecha | date: 'short' }}</td>
            <td>{{ i.prioritat }}</td>
            <td>{{ i.estat }}</td>
            <td *ngIf="!tech">{{ i.Nom }}</td>
            <td *ngIf="!tech && i.eid == 4">
              <i class="bi bi-box-arrow-down-left" style="color: deepskyblue; cursor: pointer"
                (click)="resoldre(i.id, 2)"></i>
            </td>
            <td *ngIf="!tech && i.eid == 5"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Titulo"
              [(ngModel)]="titol" [ngModelOptions]="{ standalone: true }" />
          </div>
          <div class="input-group mb-3" *ngIf="tech">
            <label class="input-group-text" for="inputGroupSelect02">Usuarios</label>
            <select class="form-select" id="inputGroupSelect02" (change)="usersel($event)" #resetusuari>
              <option selected disabled>Seleccionar usuario</option>
              <ng-container *ngFor="let u of users">
                <option [value]=u.id *ngIf="!u.tech">
                  {{ u.Nom }} {{ u.Cognoms }}
                </option>
              </ng-container>
            </select>
            <label class="input-group-text" for="inputGroupSelect03">Prioridad</label>
            <select class="form-select" id="inputGroupSelect03" (change)="priori($event)" #resetprio>
              <option selected disabled>Seleccionar prioridad</option>
              <ng-container *ngFor="let p of prio">
                <option [value]=p.id>
                  {{ p.prioritat }}
                </option>
              </ng-container>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Descripcion"
              [(ngModel)]="desc" [ngModelOptions]="{ standalone: true }">
            </textarea>
          </div>
          <br />
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">
              <i class="bi bi-image-alt"></i>
            </label>
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
              aria-label="Upload" (change)="fileChangeEvent($event)" accept="image/*" #fileUploader />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" (click)="img()">
                Agregar
              </button>
            </div>
          </div>
          <image-cropper style="max-height: 36rem" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
            [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)" (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()">
          </image-cropper>
          <br>
          <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-3 g-lg-3 d-flex justify-content-center">
              <div class="col bg-light" style="margin: 10px 7px 10px 7px;border: 2px solid lightslategray"
                *ngFor="let i of imatges">
                <span
                  class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-secondary p-1"
                  style="cursor: pointer;" (click)='delete(i.id)'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                  </svg>
                </span>
                <img [src]=i.imatge style="object-fit: cover;height: 80px; width: 100%;" alt="">
              </div>
            </div>
          </div>
          <br />
          <div class="d-inline p-2">
            <button type="button" class="btn btn-outline-primary" style="float: right" data-bs-dismiss="modal"
              (click)="inseririnci_fotos()">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- OFF CANVAS -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" *ngFor="let i of incidencia">
    <h4 class="card-title">{{i.titol}}</h4>
    <span class="card-subtitle mb-2 text-muted" style="float: right;"><small>{{i.Fecha | date: 'short' }}</small></span>
    <p class="card-subtitle mb-2 text-muted">{{i.Nom}}</p>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <div class="p-2 bd-highlight">
        <h5>Assignar tecnico</h5>
      </div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">{{tecnic}}</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" *ngFor="let t of tecnics" (click)="Atecnic(t.Nom,t.id)">{{t.Nom}} </a></li>
        </ul>

      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <div class="p-2 bd-highlight">
        <h5>Assignar prioridad</h5>
      </div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false" *ngIf="tech">{{prioritat}}</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" (click)="Alta()">Alta </a></li>
          <li><a class="dropdown-item" (click)="Mitja()">Media </a></li>
          <li><a class="dropdown-item" (click)="Baixa()">Baja </a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="d-grid">
      <button type="button" class="btn btn-outline-success" (click)="Actualitzar(i.id)"
        data-bs-dismiss="offcanvas">Guardar</button>
    </div>
    <hr>
    <div class="d-grid">
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-outline-warning" (click)="resoldre(i.id,4)">Resolver</button>

        <button type="button" class="btn btn-outline-danger" (click)="resoldre(i.id,5)">Cerrar ticket</button>
      </div>
    </div>
  </div>
</div>