<div class="container-fluid">
  <br />
  <div class="d-flex justify-content-between">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          My Tickets
        </button>
      </li>
      <li class="nav-item" role="presentation" *ngIf="tech">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Unsolved tickets
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact"
          type="button"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
        >
          Closed tickets
        </button>
      </li>
    </ul>
    <!-- Modal Trigger -->
    <ul class="nav nav-pills">
      <li class="nav-item" role="presentation">
        <button
          class="nav-item btn btn-outline-primary"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact"
          type="button"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
          data-bs-toggle="modal"
          data-bs-target="#Modal"
          style="cursor: pointer"
        >
          <i class="bi bi-plus-square"> </i>
          New Ticket
        </button>
      </li>
    </ul>
  </div>
  <br />
  <div class="tab-content" id="myTabContent">
    <!-- Incidencies Propies -->
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" *ngIf="tech">Id</th>
            <th scope="col" *ngIf="tech">Usuari</th>
            <th scope="col">Titol</th>
            <th scope="col">Fecha/Hora</th>
            <th scope="col">Prioritat</th>
            <th scope="col">Estat</th>
            <th scope="col" *ngIf="!tech">Tecnocrat</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let i of incidencies
                | paginate: { itemsPerPage: 10, currentPage: p }
            "
          >
            <td *ngIf="tech">{{ i.id }}</td>
            <td *ngIf="tech">{{ i.Nom }}</td>
            <td>{{ i.titol }}</td>
            <td>{{ i.Fecha | date: 'short' }}</td>
            <td>{{ i.prioritat }}</td>
            <td>{{ i.estat }}</td>
            <td *ngIf="!tech">{{ i.Nom }}</td>
            <td>
              <i
                class="bi bi-x-square"
                (click)="Eliminar(i.id)"
                style="cursor: pointer; color: red"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Incidencies Obertes -->
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuari</th>
            <th scope="col">Titol</th>
            <th scope="col">Fecha/Hora</th>
            <th scope="col">Prioritat</th>
            <th scope="col">Estat</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of incidenciesO">
            <td [routerLink]="['/detall/' + i.id]">{{ i.id }}</td>
            <td [routerLink]="['/detall/' + i.id]">{{ i.Nom }}</td>
            <td [routerLink]="['/detall/' + i.id]">{{ i.titol }}</td>
            <td [routerLink]="['/detall/' + i.id]">
              {{ i.Fecha | date: 'short' }}
            </td>
            <td [routerLink]="['/detall/' + i.id]">{{ i.prioritat }}</td>
            <td [routerLink]="['/detall/' + i.id]">{{ i.estat }}</td>
            <td>
              <i
                class="bi bi-three-dots-vertical"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
                style="cursor: pointer"
                (click)="editarinci(i.id)"
              >
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Incidencies Tancades -->
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" *ngIf="tech">Id</th>
            <th scope="col" *ngIf="tech">Usuari</th>
            <th scope="col">Titol</th>
            <th scope="col">Fecha/Hora</th>
            <th scope="col">Prioritat</th>
            <th scope="col">estat</th>
            <th scope="col" *ngIf="!tech">Tecnic</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of incidenciesT">
            <td *ngIf="tech">{{ i.id }}</td>
            <td *ngIf="tech">{{ i.Nom }}</td>
            <td>{{ i.titol }}</td>
            <td>{{ i.Fecha | date: 'short' }}</td>
            <td>{{ i.prioritat }}</td>
            <td>{{ i.estat }}</td>
            <td *ngIf="!tech">{{ i.Nom }}</td>
            <td>
              <i
                class="bi bi-x-square"
                (click)="Eliminar(i.id)"
                style="cursor: pointer; color: red"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Incidencia</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              aria-label="Text input with dropdown button"
              placeholder="Titol"
              [(ngModel)]="titol"
              [ngModelOptions]="{ standalone: true }"
            />
            <button
              class="btn btn-outline-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              *ngIf="tech"
            >
              Priority: {{ prioritat }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" (click)="Alta()">Alta </a></li>
              <li><a class="dropdown-item" (click)="Mitja()">Mitja</a></li>
              <li><a class="dropdown-item" (click)="Baixa()">Baixa</a></li>
            </ul>
            <input
              type="text"
              class="form-control"
              aria-label="Text input with dropdown button"
              placeholder="Titol"
              [(ngModel)]="titol"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div *ngIf="tech" class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02"
              ><i class="bi bi-person-fill"></i
            ></label>
            <select
              class="form-select"
              id="inputGroupSelect02"
              (change)="usersel($event)"
            >
              <option value="0" selected disabled>Select User</option>
              <option [value]="u.id" *ngFor="let u of users">
                {{ u.Nom }} {{ u.Cognoms }}
              </option>
            </select>
            <label class="input-group-text" for="inputGroupSelect03"
              >Priority</label
            >
            <select
              class="form-select"
              id="inputGroupSelect03"
              (change)="prior($event)"
            >
              <option value="0" selected disabled>Select priority</option>
              <option [value]="p.id" *ngFor="let p of prioritat">
                {{ p.prioritat }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="4"
              placeholder="Descripcio"
              [(ngModel)]="desc"
              [ngModelOptions]="{ standalone: true }"
            >
            </textarea>
          </div>
          <br />
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">
              <i class="bi bi-file-earmark-arrow-up"></i>
            </label>
            <input
              type="file"
              class="form-control"
              id="inputGroupFile04"
              aria-describedby="inputGroupFileAddon04"
              aria-label="Upload"
              (change)="fileChangeEvent($event)"
            />
          </div>
          <image-cropper
            style="max-height: 36rem"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            [aspectRatio]="4 / 3"
            format="png"
            (imageCropped)="imageCropped($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
          >
          </image-cropper>
          <div class="d-inline p-2">
            <button
              type="button"
              class="btn btn-outline-primary"
              style="float: right"
              (click)="Guardar()"
              data-bs-dismiss="modal"
            >
              Guardar
            </button>
            <br />
            <div class="d-inline p-2">
              <button
                type="button"
                class="btn btn-outline-primary"
                style="float: right"
                data-bs-dismiss="modal"
                (click)="testi()"
              >
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- OFF CANVAS -->
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div class="offcanvas-header">
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body" *ngFor="let i of incidencia">
          <h5 class="card-title">{{ i.titol }}</h5>
          <span class="card-subtitle mb-2 text-muted" style="float: right"
            ><small>{{ i.Fecha | date: 'short' }}</small></span
          >
          <p class="card-subtitle mb-2 text-muted">{{ i.Nom }}</p>
          <hr />
          <div class="d-flex justify-content-between align-items-center">
            <div class="p-2 bd-highlight">
              <h4>Assign</h4>
            </div>
            <div class="p-2 bd-highlight">
              <button
                class="btn btn-outline-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ tecnic }}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item"
                    *ngFor="let t of tecnics"
                    (click)="Atecnic(t.Nom, t.id)"
                    >{{ t.Nom }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="d-flex justify-content-between align-items-center">
            <div class="p-2 bd-highlight">
              <h4>Priority</h4>
            </div>
            <div class="p-2 bd-highlight">
              <button
                class="btn btn-outline-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                *ngIf="tech"
              >
                {{ prioritat }}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" (click)="Alta()">High </a></li>
                <li><a class="dropdown-item" (click)="Mitja()">Medium</a></li>
                <li><a class="dropdown-item" (click)="Baixa()">Low</a></li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="d-grid">
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="Actualitzar(i.id)"
            >
              Save
            </button>
          </div>
          <hr />
          <div class="d-grid">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                type="button"
                class="btn btn-outline-warning"
                (click)="resoldre(i.id, 4)"
              >
                Resolve
              </button>

              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="resoldre(i.id, 5)"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
