<div class="container">

    <div class="d-flex bd-highlight" style="margin:10px">
        <div class="p-2 flex-fill bd-highlight">
            <div class="d-flex justify-content-between">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i
                            class="bi bi-people-fill"></i> Grupos</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i
                            class="bi bi-person-fill"></i> Usuarios</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#tech"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false" *ngIf="admin"><i
                            class="bi bi-headset"></i> Tecnicos</button>
                </div>
                <form class="d-flex" style="align-items: center;">
                    <div class="input-group me-2">
                        <select class="form-select" id="inputGroupSelect02" (change)="usersel($event)">
                            <option selected disabled>Seleccionar grupo</option>
                            <ng-container *ngFor="let g of grups">
                                <option [value]=g.id>
                                    {{ g.Grup }}
                                </option>
                            </ng-container>
                        </select>
                    </div>
                    <h5 *ngIf="filter" style="cursor: pointer;"><i class="bi bi-x-square-fill"
                            (click)="filteroff()"></i></h5>
                </form>
                <div class="dropdown" style="float: right;">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-plus-square">
                        </i>
                        Nuevo
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#grup"
                                style="cursor: pointer;">
                                <i class="bi bi-people-fill"></i> Grupo</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#user"
                                style="cursor: pointer;"><i class="bi bi-person-fill"></i> Usuario</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#techu"
                                style="cursor: pointer;"><i class="bi bi-headset"></i> Tecnico</a></li>
                    </ul>
                </div>
            </div>

            <br>
            <div class="tab-content" id="nav-tabContent">
                <!--Grups-->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Grupo</th>
                                <th scope="col">Contactos</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let g of grups">
                                <td>{{g.Grup}}</td>
                                <td>{{g.num}}</td>
                                <td>
                                    <div class="dropend">
                                        <i class="bi bi-three-dots-vertical " type="button" id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
                                        </i>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" type="button" data-bs-toggle="offcanvas"
                                                    data-bs-target="#offcanvasGroup" aria-controls="offcanvasRight"><i
                                                        class="bi bi-pencil-square" (click)="mostrargrupsd(g.id)"></i>
                                                    Editar</a>
                                            </li>
                                            <li><a class="dropdown-item" style="cursor: pointer;"
                                                    (click)="deletegrup(g.id)"><i class="bi bi-trash-fill"></i>
                                                    Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Users-->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Email</th>
                                <th scope="col">Grupo</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of users">
                                <ng-container *ngIf="u.tech == false && filter == false">
                                    <td>{{u.Nom}}</td>
                                    <td>{{u.Cognoms}}</td>
                                    <td>{{u.Telefon_empresa}}</td>
                                    <td>{{u.Email}}</td>
                                    <td>{{u.Grup}}</td>
                                    <td>
                                        <div class="dropend">
                                            <i class="bi bi-three-dots-vertical " type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"
                                                (click)="mostraruserd(u.id)">
                                            </i>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" type="button" data-bs-toggle="offcanvas"
                                                        data-bs-target="#offcanvasUser" aria-controls="offcanvasUser">
                                                        <i class="bi bi-pencil-square"></i>
                                                        Editar</a>
                                                </li>
                                                <li><a class=" dropdown-item" type="button" style="cursor: pointer;"
                                                        (click)="deleteuser(u.id)"><i class="bi bi-trash-fill"></i>
                                                        Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="u.tech == false && filter == true && u.id_grup == id">
                                    <td>{{u.Nom}}</td>
                                    <td>{{u.Cognoms}}</td>
                                    <td>{{u.Telefon_empresa}}</td>
                                    <td>{{u.Email}}</td>
                                    <td>{{u.Grup}}</td>
                                    <td>
                                        <div class="dropend">
                                            <i class="bi bi-three-dots-vertical " type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"
                                                (click)="mostraruserd(u.id)">
                                            </i>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" type="button" data-bs-toggle="offcanvas"
                                                        data-bs-target="#offcanvasUser" aria-controls="offcanvasUser">
                                                        <i class="bi bi-pencil-square"></i>
                                                        Editar</a>
                                                </li>
                                                <li><a class=" dropdown-item" type="button" style="cursor: pointer;"
                                                        (click)="deleteuser(u.id)"><i class="bi bi-trash-fill"></i>
                                                        Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </ng-container>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Techs-->
                <div class="tab-pane fade" id="tech" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of users">
                                <ng-container *ngIf="u.tech == true && u.admin == false">
                                    <td>{{u.Nom}}</td>
                                    <td>{{u.Cognoms}}</td>
                                    <td>{{u.Telefon_empresa}}</td>
                                    <td>{{u.Email}}</td>
                                    <td>
                                        <div class="dropend">
                                            <i class="bi bi-three-dots-vertical " type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"
                                                (click)="mostraruserd(u.id)">
                                            </i>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#" type="button"
                                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasUser"
                                                        aria-controls="offcanvasUser"><i
                                                            class="bi bi-pencil-square"></i>
                                                        Editar</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#" (click)="deleteuser(u.id)"><i
                                                            class="bi bi-trash-fill"></i>
                                                        Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- OFF CANVAS User -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUser" aria-labelledby="offcanvasRightLabel">

    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Editar usuario</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" *ngFor="let p of person">
        <h5>{{p.Nom}} {{p.Cognoms}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-telephone-fill"></i> {{p.Telefon_empresa}}</h6>
        <hr>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" [placeholder]=p.Email aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
        </div>
        <ng-container *ngIf="p.tech == false">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
                <select class="form-select" id="validationDefault04" (change)="selectChangeHandler($event)">
                    <option selected Disabled>{{p.Grup}}</option>
                    <option [value]=g.id *ngFor="let g of grups">
                        {{g.id}} - {{g.Grup}}
                    </option>
                </select>
            </div>
        </ng-container>

        <hr>
        <div class="d-grid">
            <button type="button" class="btn btn-outline-success" (click)="updateuser(p.id)"
                data-bs-dismiss="offcanvas">Guardar</button>
        </div>
        <br>
        <div class="d-grid">
            <button type="button" class="btn btn-outline-danger" (click)="deleteuser(p.id)">Eliminar</button>
        </div>

    </div>
</div>
<!-- OFF CANVAS Group -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasGroup" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Editar Grupo</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" *ngFor="let g of grup">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
            <input type="text" class="form-control" [placeholder]=g.Grup aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}">
        </div>
        <hr>
        <div class="d-grid">
            <button type="button" class="btn btn-outline-success" (click)="updategrup(g.id)"
                data-bs-dismiss="offcanvas">Guardar</button>
        </div>
        <br>
        <div class="d-grid">
            <button type="button" class="btn btn-outline-danger" (click)="deletegrup(g.id)">Eliminar</button>
        </div>
    </div>
</div>

<!-- Modal User -->
<div class="modal fade" id="user" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="validationDefault01" required [(ngModel)]="nom"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="validationDefault02" required [(ngModel)]="cognoms"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultUsername" class="form-label">Telefono</label>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend2"><i
                                    class="bi bi-telephone-fill"></i></span>
                            <input type="email" class="form-control" type="tel" aria-describedby="inputGroupPrepend2"
                                required [(ngModel)]="telefon" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="validationDefaultUsername" class="form-label">Email</label>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                            <input type="email" class="form-control" id="validationDefaultUsername"
                                aria-describedby="inputGroupPrepend2" required [(ngModel)]="email"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="validationDefault04" class="form-label">Grupo</label>
                        <select class="form-select" id="validationDefault04" (change)="selectChangeHandler($event)">
                            <option selected disabled value="">Elegir</option>
                            <option [value]=g.id *ngFor="let g of grups">{{g.Grup}}</option>
                        </select>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" type="submit"
                    (click)="newuser(0)">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Tech -->
<div class="modal fade" id="techu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo tecnico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="validationDefault06" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="validationDefault06" required [(ngModel)]="nom"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault07" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="validationDefault07" required [(ngModel)]="cognoms"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultUsername" class="form-label">Telefono</label>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend2"><i
                                    class="bi bi-telephone-fill"></i></span>
                            <input type="email" class="form-control" type="tel" aria-describedby="inputGroupPrepend2"
                                required [(ngModel)]="telefon" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationDefaulttech" class="form-label">Email</label>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                            <input type="email" class="form-control" id="validationDefaulttech"
                                aria-describedby="inputGroupPrepend2" required [(ngModel)]="email"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" type="submit"
                    (click)="newuser(1)">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Grup -->
<div class="modal fade" id="grup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo grupo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-people-fill"></i></span>
                    <input type="text" class="form-control" placeholder="Nombre del Grupo" aria-label="GroupName"
                        aria-describedby="addon-wrapping" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="newgroup()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>