<div class="container position-static">
    <br />
    <h1>Registre-le-re-le</h1>
    <br>
      <div
        class="card mx-auto"
        style="width: 40rem"
      >
        <div class="card-body">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputname" class="form-label">Nom</label>
              <input type="text" class="form-control" id="inputname" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="col-md-6">
              <label for="inputsurname" class="form-label">Cognoms</label>
              <input type="text" class="form-control" id="inputsurname" [(ngModel)]="cognoms" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="col-md-6">
              <label for="inputempresa" class="form-label">Empresa</label>
              <input type="text" class="form-control" id="inputempresa" [(ngModel)]="empresa" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="col-md-6">
              <label for="inputphone" class="form-label">Telefon</label>
              <input type="tel" class="form-control" id="inputphone" [(ngModel)]="telefon" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="col-md-6">
              <label for="inputemail" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputemail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="col-md-6">
              <label for="inputPassword" class="form-label">Contrassenya</label>
              <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button
              class="btn btn-primary"
              type="button"
              (click)="apiregister()"
            >
              Registrar
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  