<div class="container position-static">
  <br />
  <h1>Registre-le-re-le</h1>
  <br>
  <div class="card mx-auto" style="width: 40rem">
    <div class="card-body">
      <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input type="text" class="form-control" id="inputname" placeholder="Name" [(ngModel)]="nom"
              [ngModelOptions]="{standalone: true}" required />
            <div class="invalid-feedback">
              Please choose a name.
            </div>
            <input type="text" class="form-control" id="inputcognom" placeholder="Surname" [(ngModel)]="cognoms"
              [ngModelOptions]="{standalone: true}" required />
            <div class="invalid-feedback">
              Please choose a surname.
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
            <input type="tel" maxlength="9" class="form-control" id="inputphone" placeholder="Phone"
              [(ngModel)]="telefon" [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-building"></i></span>
            <input type="text" class="form-control" id="inputempresa" placeholder="Company" [(ngModel)]="empresa"
              [ngModelOptions]="{standalone: true}" />
            <input type="text" class="form-control" id="inputcognif" placeholder="NIF" [(ngModel)]="nif"
              [ngModelOptions]="{standalone: true}" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-at"></i></span>
            <input type="email" class="form-control" id="inputemail" placeholder="email" [(ngModel)]="email"
              [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-grid gap-2">
            <button class="btn btn-warning" type="submit" (click)="validate()">Sign Up</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
            <input type="password" class="form-control" id="inputPassword" placeholder="password" [(ngModel)]="password"
              [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>