<div class="container position-static">
  <br />
  <h1>Login-le-re-le</h1>
  <br />
  <div class="card mx-auto" style="width: 40rem">
    <div class="card-body">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputemail" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputemail"
            [(ngModel)]="email"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col-md-6">
          <label for="inputPassword" class="form-label">Contrasenya</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button" (click)="apilogin()">
            Inici de sessió
          </button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            class="btn btn-warning"
            type="button"
            [routerLink]="['/registre']"
          >
            Registre
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
