<div class="container">
  <button
    class="btn btn-outline-primary mb-2 mr-2 position-relative"
    [routerLink]="['/incidencies']"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-return-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"
      />
    </svg>
    Retorn
  </button>
  <div class="card" *ngFor="let i of incidencia">
    <div class="card-body">
    <h2>{{ i.titol }}</h2>
      <h6 class="card-subtitle mb-2 text-muted">{{ i.Fecha | date: 'short'}}</h6>
      <p class="card-text">{{i.descripcio}}</p>
      <i class="card-text">{{i.prioritat}}</i>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div *ngFor="let f of fotos">
    <img [src]="f.img" alt="" style="height: 10%; width: 20%;">
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container">
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
  </nav>
  </div>
</nav>
